:root {
  --primary: rgb(5, 5, 5);
  --secondary: rgb(147, 149, 150);
  --danger: #ffbee8;
  --accent: #64ccccff;
  --neutral: rgb(36, 35, 43);
  --base-100: rgb(255, 255, 255);
  --info: rgb(30, 178, 247);
  --success: #61dc05;
  --warning: #fbbf24;
  --error: #ef4444;
  --Input_placeholder: rgb(137, 144, 154);
  --Input_border: rgb(214, 214, 214);
  --Lightgreen: #61dc05;
  --blue: rgb(0, 4, 255);
  --purple: #d400f0;
  --light-yellow: #ffcc2e;
  --light-blue: #606fff;
  --stone: rgb(214, 214, 214);
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --basic: Inter;
  --system: system-ui;
  --rounded-none: 0px;
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-full: 9999px;
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  --shadow-none: 0px 0px 0px 0px #0000;
}
