/* CardStyles.css */
.card-content-style {
  background-color: global(colors(Lightgreen));
  color: global(colors(base-100));
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-start;
  padding: 18px;
  width: 100%;
}

/* Add other variants as needed */
